body {
    background-image: url("../images/fond.png");
    background-size: 100% 100%;
}

.floatRight{
	float:right;
	margin-right: 18px;
}

.has-error{
	color:red;
}

.generic-container {
  position:fixed;
  width:80%;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #EAE7E7;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 0 30px black;
}


.header img {
    float: left;
    margin: 10px;
}


.login-form {
    text-align: center;
}

.login-form form {
    display: inline-block;
}